graphics/*
.vscode/*

deploy/output/*
deploy/releases/*
deploy/7za.exe
deploy/build_mp.cmd
deploy/exclude.txt
deploy/fsdt_build.cmd
deploy/include.txt
deploy/mod_build.cmd
deploy/mod_release.cmd

kb/*
docs/*
FS22_PowerTools/PowerTools.lua.bak

docs/*

icon_PowerTools_bak.pdn
TODO.md
